.editor-preview {
    font-size: 16px;
  }
 
 
 .editor-preview h1 {
    font-size: 100px;
  }
  
 .editor-preview h2 {
    font-size: 50px;
  }
  
  .editor-preview h3 {
    font-size: 18px;
  }
  
  
  